.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  min-width: 106px;
  height: 48px;
  padding: 12px 24px;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
  
  @extend %body-text;
  @extend %body-medium;
  text-decoration: none;
  // transition: all 0.3s;

  &--filters {
    // position: absolute;
    // right: 0;
    min-width: 133px;
    height: 56px;
    border-left: 2px solid $primary-color;
    border-radius: 0 40px 40px 0;
    transition: all 0.3s;
    background-color: $gray01-color;

    &:hover {
      color: $gray05-color;
    }

    &:active {
      color: $gray06-color;
      background-color: $gray02-color;
    }
  }

  &--yellow {
    min-width: 208px;
    height: 56px;
    background-color: $secondary-yellow-color;
    transition: all 0.3s;

    &:hover {
      background-color: $secondary-yellow-button-hover-color;
    }

    &:active {
      background-color: $secondary-yellow-button-pressed-color;
    }
  }

  &--yellow-border {
    min-width: 208px;
    height: 56px;
    border: 2px solid $secondary-yellow-color;
    color: $gray01-color;
    transition: all 0.3s;

    &:hover {
      border-color: $secondary-yellow-button-hover-color;
    }

    &:active {
      border-color: $secondary-yellow-button-pressed-color;
    }
  }

  &--menu {
    &:hover {
      border-top: 2px solid $secondary-light-blue-color;
      border-bottom: 2px solid $secondary-yellow-button-hover-color;
    }

    &-active {
      border-top: 2px solid transparent;
      border-bottom: 2px solid $primary-color;
    }
  }

  &--primary {
    background-color: $primary-color;
    color: $gray01-color;
    transition: all 0.3s;

    &:hover {
      background-color: $gray05-color;
    }

    &:active {
      background-color: $gray06-color;
    }
  }

  &--secondary {
    border: 2px solid $primary-color;
    transition: all 0.3s;

    &:hover {
      border-color: $gray05-color;
      color: $gray05-color;
    }

    &:active {
      border-color: $primary-color;
      color: $gray06-color;
      background-color: $gray02-color;
    }
  }

  &--tags {
    min-width: 208px;
  }

  &--tags-active {
    border: 2px solid $secondary-light-blue-color;
  }

  &--footer {
    height: 21px;
    justify-content: flex-start;
    padding: 0;
    @extend %footnote-medium;
    color: $gray05-color;
    transition: all 0.3s;

    &:hover {
      color: $gray03-color;
    }
  }

  &--pagination {
    min-width: 32px;
    height: 35px;
    padding: 0;
    border-radius: 8px;
    color: $gray01-color;
    transition: all 0.3s;

    &:hover {
      border: 1px solid $secondary-light-blue-color;
    }
  }

  &--pagination-active {
    background-color: $secondary-light-blue-color;
    color: $gray06-color;
  }

  &--pagination-disabled {
    display: none;
  }

  &--close {
    padding: 0;
    min-width: min-content;
    height: 32px;
  }
}