.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;

  &__invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__label {
    display: flex;
    color: $secondary-light-blue-color;
    cursor: pointer;

    &--activities {
      color: $gray01-color;
    }
  }


}