.icon {
  position: relative;

  display: block;
  width: 24px;
  height: 24px;

  background-color: transparent;

  // -webkit-mask-repeat: no-repeat;
  // mask-repeat: no-repeat;
  // -webkit-mask-position: center;
  // mask-position: center;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &--home {
    background-image: url(../../icons/Home.svg);
  }

  &--favorites {
    background-image: url(../../icons/Heart.svg);
  }

  &--topRated {
    background-image: url(../../icons/Star.svg);
  }

  &--tripPlanner {
    background-image: url(../../icons/TripPlanner.svg);
  }

  &--up {
    background-image: url(../../icons/Arrow.svg);
    transform: rotate(90deg);
  }

  &--down {
    background-image: url(../../icons/Arrow.svg);
    transform: rotate(270deg);
  }

  &--language {
    background-image: url(../../icons/Language.svg);
  }
}
