.search {
  display: flex;
  gap: 16px;

  &__container {
    position: relative;
    display: flex;
    width: 656px;
    align-items: center;
  }

  &__icon-left {
    position: absolute;
    left: 24px;
  }
}
