.selector {
  display: flex;
  flex-direction: column;
  position: relative;
  vertical-align: top;

  &__menu {
    position: absolute;
    top: 48px;
    z-index: 20;
    display: none;
    width: 100%;
    padding: 0;
    background: $gray01-color;
    border-radius: 24px;

    &--is-active {
      display: flex;
      flex-direction: column;
    }
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  &__link {
    padding: 12px 24px 12px 24px;
    text-decoration: none;
    @extend %footnote-medium;
    cursor: pointer;
    
    &:first-child {
      border-radius: 24px 24px 0 0;
    }

    &:last-child {
      border-radius: 0 0 24px 24px;
    }

    &:hover {
      background-color: $secondary-yellow-color;
    }
  }
}
