.home-page {
  padding: 24px 56px 40px 56px;
  
  &__filters{
    // display: flex;
    width: 100%;
    // justify-content: center;
    margin-bottom: 16px;
  }

  &__search-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__tags {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
  }

  &__cards {
    margin-bottom: 24px;
  }
}
