$primary-color: #111111;
$secondary-yellow-color: #efcb68;
$secondary-light-blue-color: #87bfff;
$secondary-yellow-button-hover-color: #fcde8d;
$secondary-yellow-button-pressed-color: #f2c33f;
$gray06-color: #121112;
$gray05-color: #403f40;
$gray04-color: #545456;
$gray03-color: #999999;
$gray02-color: #d7d7d7;
$gray01-color: #f9f5ff;
$error-color: #ff6961;
$info-color: #757bff;
$warning-color: #fca33b;
$success-color: #30db5b;
